* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   /* font-family: 'Times New Roman', Times, serif;*/
  }
  
  .left {
    width: 50%;
    background-color: black;
    height: 100vh;
  }
  
  @media screen and (min-width: 834px) {
    .navigation {
      height: 44px;
      font-size: 0.9rem;
      position: sticky;
      border: 4px dotted green; 
      z-index: 999;
      justify-content: flex-start;
     
    }
  
    .navigation__items {
      display: flex;
      font-family: 'Lato', sans-serif;
      font-weight:500;
      list-style-type: none;
      flex-grow: 1;
      margin-top: -40px;
      justify-content: space-around;
      padding: 0px 0px;
      border: 4px dotted plum; 
    }
  
    .navigation__item {
      display: flex;
      align-items: center;
      border: 4px dotted aqua; 
    }
  
    .navigation__link {
      text-decoration: none;
      color: white;
      white-space: nowrap;
    }
  
    .img-logo {
      width: 36px;
      height: 36px;
      background-color: transparent;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 834px) /*and (min-width: 170px)*/ {
    .navigation__items {
      display: none;
    }
    .img-logo {
        /*
        width: 64px;
        height: 64px;
        */
        width: auto;
        height: auto;
        background-color: transparent;
        margin-left: 5%;
        margin-top: 5%;
        max-width: 15%;
        max-height: 15%;
        align-items: center;
        cursor: pointer;
      }
  }
  /*
  @media screen and (max-width: 170px){
    .navigation__items {
      display: none;
    }
    .navigation {
      display: none;
      }
    .img-logo {
      display: none;
      }
      .left{
        display: none;
      }
  }
  */